@font-face {
	font-family: 'WorkSans';
	src: url("./assets/fonts/WorkSans-VariableFont_wght.ttf") format("truetype");
	font-weight:400 700;
	font-style: normal;
}

@font-face {
	font-family: 'WorkSans';
	src: url("./assets/fonts/WorkSans-Italic-VariableFont_wght.ttf") format("truetype");
	font-weight:400 700;
	font-style: italic;
}

:root {
	/*fonts*/
	--font-family: 'WorkSans',sans-serif;

	/*colors*/
	--White: hsl(0, 0%, 100%);
	--LightPink: hsl(275, 100%, 97%);
	--GrayishPurple: hsl(292, 16%, 49%);
	--DarkPurple: hsl(292, 42%, 14%);

}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

body {
	height: 100vh;
	font-family: var(--font-family);
	font-size: 1rem;
	background-image: url("./assets/images/background-pattern-desktop.svg");
	background-repeat: repeat-x;
	background-color: var(--LightPink);
	display: grid;
	place-items: center;

}

.card {
	width: 600px;
	height: auto;
	background-color: var(--White);
	border-radius: 1rem 1rem 1rem 1rem;
	padding: 40px;


}

.faq {
	font-size: 3.5rem;
	font-weight: 700;
	margin-bottom: 2rem;
}

hr {
	margin: 1.5rem 0;
	height: 1px;
	align-self: stretch;
	border: none;
	background-color: var(--LightPink)
}

.sub-title{
	font-size: 1.125rem;
	font-weight: 600;
	text-align: center;

	display: flex;
	justify-content: space-between;
	align-items: center;
	align-self: stretch;
}

.sub-title:hover {
	color: #AD28EB;
}

.paragraph {
	font-size: 1rem;
	font-weight: 400;
	color: var(--GrayishPurple);
	line-height: 150%;
	display: none;
}

.attribution {
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	margin-bottom: 1em;
}


@media screen and (max-width: 700px) {
	html {
		font-size: 14px;
	}

	.card {
		width: 327px;
	}

	.faq {
		font-size: 32px;
	}

	.faq img {
		width: 30px;
		height: 30px;
	}
}

